.avxvw { 
  line-height: 73px;
  margin-left: 57px;
  border-top-width: 79px;
  padding-left: 14px;
  font-size: 49px;
  margin-left: 73px;
  font-size: 12px;
  padding-left: 85px;
  padding-right: 22px;
  border-top-width: 29px;
  border-top-width: 48px;
  border-bottom-width: 18px;
  padding-bottom: 2px;
}
